<!-- each-result -->
<div class="panel panel-default">
  <% var body = result.body %>
  <% if (result.error) { %>
  <div class="panel-heading">
    <%= body.metadata.name %>
  </div>
  <div class="panel-body">
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
      Translate Error: <%= result.error %>
    </div>
  </div>
  <% } else { %>
  <div class="panel-heading">
    <%= body.metadata.name %>
  </div>
  <div class="panel-body">
    <h4><%= body.query %></h4>
    <a class="nounderline" href="javascript: new Audio('<%= body.basic.speech %>').play()">[ <%= body.basic.phonetic %> ] <span class="glyphicon glyphicon-volume-up"></span></a>
  </div>
  <ul class="list-group">
    <% body.basic.explains.forEach(function(explain){ %>
    <li class="list-group-item"><%= decodeURI(explain) %></li>
    <% }); %>
  </ul>
  <% } %>
</div>