<!-- each-result -->
<div class="panel <%= result.error ? 'panel-danger' : 'panel-primary' %>">
<% var body = result.body; %>
  <div class="panel-heading" style="padding: 2px 7px">
    <%= body.metadata.name %>
  </div>
<% if (result.error) { %>
  <div class="panel-body text-danger">
    <span class="glyphicon glyphicon-alert"></span>
    Translate Error: <%= result.error %>
  </div>
<% } else { %>
  <div class="panel-body">
    <h4><%= body.query %></h4>
    <a class="nounderline" href="javascript: new Audio('<%= body.basic.speech %>').play()">[ <%= body.basic.phonetic %> ] <span class="glyphicon glyphicon-volume-up"></span></a>
  </div>
  <ul class="list-group">
    <% body.basic.explains.forEach(function(explain){ %>
    <li class="list-group-item"><%= decodeURI(explain) %></li>
    <% }); %>
  </ul>
<% } %>
</div>