<!-- each-result -->
<div class="panel panel-default">
<% var body = result.body %>
<% if (result.error) { %>
  <div class="panel-heading">
  <%= body.metadata.name %>
  </div>
  <div class="panel-body">
    <p class="bg-danger">Translate Error: <%= result.error %></p>
  </div>
<% } else { %>
  <div class="panel-heading">
  <%= body.metadata.name %>
  </div>
  <div class="panel-body">
    <p><%= body.basic.speech %></p>
    <p><%= body.basic.phonetic %></p>
    <ul>
      <% body.basic.explains.forEach(function(explain){ %>
      <li><%= explain %></li>
      <% }); %>
    </ul>
  </div>
<% } %>
</div>